public/flow/flow_1.json
[{"id":"99c7967.88da368","type":"function","z":"61cb938d.c50b0c","name":"回答データ定義","func":"// Uploadされたファイルを読み込む\nvar answers = msg.req.files.answers[0];\nvar text = context.global.fs.readFileSync(answers.path, 'utf-8');\n\n// 読み込んだデータをJSON配列に変換する。\ncontext.global.payload = JSON.parse('['+text+']');\n\n// データをグローバルエリアに設定する\nmsg.payload = context.global.payload.length;\ncontext.global.count = context.global.payload.length;\ncontext.global.unitCnt = 0;\n\n// Uploadしたファイルを削除する\ncontext.global.fs.unlink(answers.path, function (err) {\n  if (err) console.log(err);\n  console.log('file deleted');\n});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":274.5,"wires":[["74c43ef5.acd7b8"]]},{"id":"74c43ef5.acd7b8","type":"switch","z":"61cb938d.c50b0c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":643,"y":315.5,"wires":[["1842fadb.0f8bdd"],["d784ae93.33063"]]},{"id":"d784ae93.33063","type":"function","z":"61cb938d.c50b0c","name":"1件登録","func":"msg.payload = context.global.payload[context.global.count-1];\ncontext.global.count = context.global.count - 1;\ncontext.global.unitCnt += 1;\nreturn msg;","outputs":1,"noerr":0,"x":793,"y":355.5,"wires":[["19198241.74ab26","ba8f5ce7.bddd58"]]},{"id":"63e9287e.52022","type":"function","z":"61cb938d.c50b0c","name":"Fetch","func":"msg.payload = context.global.count;\nreturn msg;","outputs":1,"noerr":0,"x":543,"y":395.5,"wires":[["74c43ef5.acd7b8"]]},{"id":"19198241.74ab26","type":"cloudant out","z":"61cb938d.c50b0c","name":"","cloudant":"","database":"faq-answer","service":"","payonly":true,"operation":"insert","x":983,"y":355.5,"wires":[]},{"id":"f275d403.3a6f88","type":"comment","z":"61cb938d.c50b0c","name":"1. FAQの回答を登録します。","info":"","x":144,"y":43,"wires":[]},{"id":"ba8f5ce7.bddd58","type":"delay","z":"61cb938d.c50b0c","name":"","pauseType":"delay","timeout":"110","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":383,"y":395.5,"wires":[["63e9287e.52022"]]},{"id":"d40c9074.63d7d8","type":"http in","z":"61cb938d.c50b0c","name":"","url":"/addAnswers","method":"get","swaggerDoc":"","x":136,"y":123,"wires":[["593a7a5e.f7626c"]]},{"id":"593a7a5e.f7626c","type":"template","z":"61cb938d.c50b0c","name":"回答データファイル指定","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>回答データ取登録</title>\n    </head>\n    <body>\n        <form method=\"post\" enctype=\"multipart/form-data\" action=\"{{req._parsedUrl.pathname}}\">\n            <font size=\"+1\" color=\"blue\"><b>FAQ回答データファイルを送信します。</b></font><br><br>\n            <b>回答データファイル:</b>&nbsp;<input type=\"file\" name=\"answers\"><br><br>\n            <input type=\"submit\">\n        </form>\n        <br>\n        <table border=\"1\" cellpadding=\"5\" cellspacing=\"0\"><tr><td>\n            <b>【ファイル形式】</b><br>\n            <table border=\"0\" >\n                <tr><th align=\"left\"><font size=\"-1\">形式</font></th><td><b>:</b></td><td><font size=\"+1\">JSON</font></td></tr>\n                <tr><th align=\"left\"><font size=\"-1\">エンコード</font></th><td><b>:</b></td><td><font size=\"+1\">UTF-8</font></td></tr>\n            </table>\n        <font size=\"-1\">\n        <pre>\n    { \"class_name\" : \"FAQのIDを入れる\", \"answer\" : \"ここに回答を設定する。\", \"ref_url\" : \"http://～～～(ブランク可)\"}</pre>\n        </font>\n        <font size=\"-1\" color=\"red\">※複数データがある場合は、コンマ(,)で区切る</font><br><br>\n        <b>&lt;定義例&gt;</b>\n        <font size=\"-1\">\n        <pre>\n    { \"class_name\" : \"FAQ001\", \"answer\" : \"よくある質問その１の回答です。詳細はURLをご参照ください。\", \"ref_url\" : \"http://www.foo.bar.com/faq/001\"},\n    { \"class_name\" : \"FAQ002\", \"answer\" : \"よくある質問その２の回答です。詳細はURLをご参照ください。\", \"ref_url\" : \"http://www.foo.bar.com/faq/002\"},\n    { \"class_name\" : \"FAQ003\", \"answer\" : \"最後の行の末尾にはコンマをつけないでください。\", \"ref_url\" : \"http://www.foo.bar.com/faq/003\"}</pre>\n        </font>\n        <font size=\"-1\" color=\"red\"><b>※最後の行の末尾にはコンマをつけないでください。</b></font><br><br>\n        </td></tr></table>\n    </body>\n</html>","x":397,"y":123,"wires":[["be3ce03c.f3f8c8"]]},{"id":"be3ce03c.f3f8c8","type":"http response","z":"61cb938d.c50b0c","name":"","x":830,"y":129.5,"wires":[]},{"id":"b08c05c4.f8be3","type":"httpInMultipart","z":"61cb938d.c50b0c","name":"","url":"/addAnswers","method":"post","fields":"[{\"name\": \"answers\"}]","swaggerDoc":"","x":135,"y":197.5,"wires":[["99c7967.88da368","884c6fac.950938"]]},{"id":"1842fadb.0f8bdd","type":"template","z":"61cb938d.c50b0c","name":"正常終了","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>回答データ登録結果</title>\n    </head>\n    <body>\n        <br><br>\n        <font size=\"+1\"><b>データは正常に登録されました。</b></font>\n    </body>\n</html>\n","x":705,"y":229.5,"wires":[["be3ce03c.f3f8c8"]]},{"id":"884c6fac.950938","type":"delay","z":"61cb938d.c50b0c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":375,"y":188.5,"wires":[["13ccc915.636987"]]},{"id":"13ccc915.636987","type":"template","z":"61cb938d.c50b0c","name":"登録エラー","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Our Apologize</title>\n    </head>\n    <body>\n        <br>\n        <font size=\"+1\"><b>Our apologize</b></font><br>\n        <br>\n        <font color=\"red\"><b>登録に失敗しました。</b></font><br><br>\n        Node-REDエディタのdebugコンソールにエラーが出力されていないか確認してください。\n    </body>\n</html>","x":567,"y":187.5,"wires":[["be3ce03c.f3f8c8"]]}]