public/flow/flow_1.json
[{"id":"4883d795.6132d8","type":"function","z":"bbc15940.b190d","name":"回答データ定義","func":"// Uploadされたファイルを読み込む\nvar answers = msg.req.files.answers[0];\nvar text = context.global.fs.readFileSync(answers.path, 'utf-8');\n\n// 読み込んだデータをJSON配列に変換する。\ncontext.global.payload = JSON.parse('['+text+']');\n\n// データをグローバルエリアに設定する\nmsg.payload = context.global.payload.length;\ncontext.global.count = context.global.payload.length;\ncontext.global.unitCnt = 0;\n\n// Uploadしたファイルを削除する\ncontext.global.fs.unlink(answers.path, function (err) {\n  if (err) console.log(err);\n  console.log('file deleted');\n});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":331,"y":272.5,"wires":[["e60b1477.794138"]]},{"id":"e60b1477.794138","type":"switch","z":"bbc15940.b190d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":624,"y":313.5,"wires":[["1559aa0b.825186"],["e291431c.0ddb8"]]},{"id":"e291431c.0ddb8","type":"function","z":"bbc15940.b190d","name":"1件登録","func":"msg.payload = context.global.payload[context.global.count-1];\ncontext.global.count = context.global.count - 1;\ncontext.global.unitCnt += 1;\nreturn msg;","outputs":1,"noerr":0,"x":774,"y":353.5,"wires":[["3a0393c4.7ac42c","8a88841a.c72c78"]]},{"id":"99b59c6e.ebd8c","type":"function","z":"bbc15940.b190d","name":"Fetch","func":"msg.payload = context.global.count;\nreturn msg;","outputs":1,"noerr":0,"x":524,"y":393.5,"wires":[["e60b1477.794138"]]},{"id":"3a0393c4.7ac42c","type":"cloudant out","z":"bbc15940.b190d","name":"","cloudant":"","database":"faq-answer","service":"710-o900156-d-house-blmx-sample-cloudantNoSQLDB","payonly":true,"operation":"insert","x":964,"y":353.5,"wires":[]},{"id":"d647c02f.2a06b","type":"comment","z":"bbc15940.b190d","name":"1. FAQの回答を登録します。","info":"","x":125,"y":41,"wires":[]},{"id":"8a88841a.c72c78","type":"delay","z":"bbc15940.b190d","name":"","pauseType":"delay","timeout":"110","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":364,"y":393.5,"wires":[["99b59c6e.ebd8c"]]},{"id":"ac2ced50.6fcd2","type":"http in","z":"bbc15940.b190d","name":"","url":"/addAnswers","method":"get","swaggerDoc":"","x":117,"y":121,"wires":[["2a0b4374.443cd4"]]},{"id":"2a0b4374.443cd4","type":"template","z":"bbc15940.b190d","name":"回答データファイル指定","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>回答データ取登録</title>\n    </head>\n    <body>\n        <form method=\"post\" enctype=\"multipart/form-data\" action=\"{{req._parsedUrl.pathname}}\">\n            <font size=\"+1\" color=\"blue\"><b>FAQ回答データファイルを送信します。</b></font><br><br>\n            <b>回答データファイル:</b>&nbsp;<input type=\"file\" name=\"answers\"><br><br>\n            <input type=\"submit\">\n        </form>\n        <br>\n        <table border=\"1\" cellpadding=\"5\" cellspacing=\"0\"><tr><td>\n            <b>【ファイル形式】</b><br>\n            <table border=\"0\" >\n                <tr><th align=\"left\"><font size=\"-1\">形式</font></th><td><b>:</b></td><td><font size=\"+1\">JSON</font></td></tr>\n                <tr><th align=\"left\"><font size=\"-1\">エンコード</font></th><td><b>:</b></td><td><font size=\"+1\">UTF-8</font></td></tr>\n            </table>\n        <font size=\"-1\">\n        <pre>\n    { \"class_name\" : \"FAQのIDを入れる\", \"answer\" : \"ここに回答を設定する。\", \"ref_url\" : [{\"title\": \"リンク表示文言\", \"url\": \"http://～～～\"},...](ブランク可[])</pre>\n        </font>\n        <font size=\"-1\" color=\"red\">※複数データがある場合は、コンマ(,)で区切る</font><br><br>\n        <b>&lt;定義例&gt;</b>\n        <font size=\"-1\">\n        <pre>\n    { \"class_name\" : \"FAQ001\", \"answer\" : \"よくある質問その１の回答です。詳細は下記リンクをご参照ください。\", \"ref_url\" : [{\"title\": \"詳細はこちら\", \"url\": \"http://www.foo.bar.com/faq/001\"}]},\n    { \"class_name\" : \"FAQ002\", \"answer\" : \"よくある質問その２の回答です。詳細はURLをご参照ください。\", \"ref_url\" : [{\"title\": \"Aの場合はこちら\", \"url\": \"http://www.foo.bar.com/faq/002-A\"},{\"title\": \"Bの場合はこちら\", \"url\": \"http://www.foo.bar.com/faq/002-B\"}]},\n    { \"class_name\" : \"FAQ003\", \"answer\" : \"最後の行の末尾にはコンマをつけないでください。\", \"ref_url\" : []}</pre>\n        </font>\n        <font size=\"-1\" color=\"red\"><b>※最後の行の末尾にはコンマをつけないでください。</b></font><br><br>\n        </td></tr></table>\n    </body>\n</html>","x":378,"y":121,"wires":[["2739b903.24339e"]]},{"id":"2739b903.24339e","type":"http response","z":"bbc15940.b190d","name":"","x":811,"y":127.5,"wires":[]},{"id":"c25683cf.38fbc","type":"httpInMultipart","z":"bbc15940.b190d","name":"","url":"/addAnswers","method":"post","fields":"[{\"name\": \"answers\"}]","swaggerDoc":"","x":116,"y":195.5,"wires":[["4883d795.6132d8","4aee423e.18ca34"]]},{"id":"1559aa0b.825186","type":"template","z":"bbc15940.b190d","name":"正常終了","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>回答データ登録結果</title>\n    </head>\n    <body>\n        <br><br>\n        <font size=\"+1\"><b>データは正常に登録されました。</b></font>\n    </body>\n</html>\n","x":686,"y":227.5,"wires":[["2739b903.24339e"]]},{"id":"4aee423e.18ca34","type":"delay","z":"bbc15940.b190d","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":356,"y":186.5,"wires":[["3c5e9e75.5531d2"]]},{"id":"3c5e9e75.5531d2","type":"template","z":"bbc15940.b190d","name":"登録エラー","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Our Apologize</title>\n    </head>\n    <body>\n        <br>\n        <font size=\"+1\"><b>Our apologize</b></font><br>\n        <br>\n        <font color=\"red\"><b>登録に失敗しました。</b></font><br><br>\n        Node-REDエディタのdebugコンソールにエラーが出力されていないか確認してください。\n    </body>\n</html>","x":548,"y":185.5,"wires":[["2739b903.24339e"]]}]
