public/flow/flow_0.json
[{"id":"3e385419.a31ccc","type":"comment","z":"660bb32a.7bb8cc","name":"0. FAQの質問を学習させます。","info":"","x":144,"y":40,"wires":[]},{"id":"c4c93428.81f138","type":"http in","z":"660bb32a.7bb8cc","name":"","url":"/nlcLearn","method":"get","swaggerDoc":"","x":132,"y":113,"wires":[["e40d9aa6.cfe5d","12526801.fbe46"]]},{"id":"f3017c14.23e278","type":"http response","z":"660bb32a.7bb8cc","name":"","x":971,"y":173.5,"wires":[]},{"id":"3a025d5c.9dfa5a","type":"template","z":"660bb32a.7bb8cc","name":"ファイルアップロード","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <meta charset=\"utf-8\">\n    <head>\n        <title>NLC Learning</title>\n    </head>\n    <body>\n        <form action=\"{{req._parsedUrl.pathname}}\" method=\"post\" enctype=\"multipart/form-data\">\n            <font size=\"+1\" color=\"blue\"><b>NLC用学習データファイルを指定してください。</b></font><br>\n            <br>\n            <b>学習データファイル:</b>&nbsp;<input type=\"file\" name=\"srcFile\"><br><br>\n            <input type=\"submit\">\n        </form>\n        <br>\n        <table border=\"1\" cellpadding=\"5\" cellspacing=\"0\">\n            <tr>\n                <td>\n                    <b>【ファイル形式】</b><br>\n                    <table border=\"0\" >\n                        <tr><th align=\"left\"><font size=\"-1\">形式</font></th><td><b>:</b></td><td><font size=\"+1\">CSV</font></td></tr>\n                        <tr><th align=\"left\"><font size=\"-1\">エンコード</font></th><td><b>:</b></td><td><font size=\"+1\">UTF-8</font></td></tr>\n                    </table>\n                    <table border=\"1\" cellpadding=\"3\" cellspacing=\"0\">\n                        <tr style=\"font-size : small\"><th>質問文</th><th>,</th><th>分類コード</th><th>&lt;改行&gt;</th></tr>\n                    </table>\n                    <br><br>\n                    <b>&lt;定義例&gt;</b>\n                    <pre>\n    developerWorks Premium とは何ですか？,FAQ-01\n    developerWorks Premium にサインアップするにはどのようにすればよいですか？,FAQ-02\n    メンバーシップを他の人に譲渡することはできますか？,FAQ-03\n                    </pre>\n                </td>\n            </tr>\n        </table>\n        <br>\n        <a href=\"{{req._parsedUrl.pathname}}?classifiers=true\">Classifierリスト</a>\n    </body>\n</html>","x":731,"y":173,"wires":[["f3017c14.23e278"]]},{"id":"4f0332de.9198e4","type":"httpInMultipart","z":"660bb32a.7bb8cc","name":"","url":"/nlcLearn","method":"post","fields":"[ {\"name\":\"srcFile\"} ]","swaggerDoc":"","x":130,"y":342,"wires":[["a91cb8a7.4e2fa8","12526801.fbe46"]]},{"id":"a91cb8a7.4e2fa8","type":"function","z":"660bb32a.7bb8cc","name":"ファイル取り出し","func":"var srcFile = msg.req.files.srcFile[0];\nvar text = context.global.fs.readFileSync(srcFile.path,'utf-8');\n// このブラケット内([ ])に回答データをJSON形式で定義してください。\n// JSON例\n// { \"class_name\" : \"faq-id01\", \"answer\" : \"ここに回答を設定する。\", \"ref_url\" : \"http://～～～(ブランク可)\"},\nmsg.payload = text; //.split('\\n');\ncontext.global.fs.unlink(srcFile.path, function (err) {\n  if (err) console.log(err);\n  console.log('file deleted');\n});\nreturn msg;","outputs":1,"noerr":0,"x":326,"y":340,"wires":[["823ab727.db85"]]},{"id":"ca969797.83ef","type":"template","z":"660bb32a.7bb8cc","name":"結果","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <meta charset=\"utf-8\">\n    <head>\n        <title>Learning accepted</title>\n    </head>\n    <body>\n        <br><br>\n        <font size=\"+1\"><b>NLC Learning accepted.</b></font><br><br>\n        New Classifier ID : <b>{{payload.classifier_id}}</b>\n        <br>\n        <br>\n        <form action=\"{{req._parsedUrl.pathname}}\" method=\"get\">\n            <input type=\"hidden\" name=\"classifiers\" value=\"true\">\n            <input type=\"submit\" value=\"Classifiers List\">\n        </form><br><br>\n        <a href=\"{{req._parsedUrl.pathname}}\">Back to Upload page</a>\n    </body>\n</html>\n","x":797,"y":339,"wires":[["f3017c14.23e278"]]},{"id":"823ab727.db85","type":"watson-natural-language-classifier","z":"660bb32a.7bb8cc","name":"質問の学習","mode":"create","language":"ja","classifier":"","x":522,"y":340.5,"wires":[["ca969797.83ef","df3fc7c.00fb9b8"]]},{"id":"e40d9aa6.cfe5d","type":"switch","z":"660bb32a.7bb8cc","name":"","property":"payload.classifiers","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":303,"y":118,"wires":[["d467e8b9.d485d8"],["3a025d5c.9dfa5a"]]},{"id":"d467e8b9.d485d8","type":"watson-natural-language-classifier","z":"660bb32a.7bb8cc","name":"Classifierをリストする","mode":"list","language":"en","classifier":"","x":489,"y":92.5,"wires":[["c2fd946a.f16a08"]]},{"id":"c2fd946a.f16a08","type":"template","z":"660bb32a.7bb8cc","name":"Classifier List","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <meta charset=\"utf-8\">\n    <head>\n        <title>Classifier list</title>\n    </head>\n    <body>\n        <font size=\"+1\"><b>Classifiers List : </b></font><br><br>\n        <table border=\"1\" cellpadding=\"0\" cellspacing=\"0\">\n            <tr><th>Classifier ID</th><th>Name</th><th>Language</th><th>Creation date</th></tr>\n        {{#payload.classifiers}}\n        <tr>\n            <td>{{classifier_id}}</td>\n            <td>{{name}}</td>\n            <td>{{language}}</td>\n            <td>{{created}}</td>\n        </tr>\n        {{/payload.classifiers}}\n        </table>\n        <br>\n        <a href=\"{{req._parsedUrl.pathname}}\">登録画面</a>\n    </body>\n</html>\n","x":758,"y":80,"wires":[["f3017c14.23e278"]]},{"id":"12526801.fbe46","type":"delay","z":"660bb32a.7bb8cc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":326,"y":233.5,"wires":[["c5b60a09.a8612"]]},{"id":"c5b60a09.a8612","type":"template","z":"660bb32a.7bb8cc","name":"エラー画面","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <meta charset=\"utf-8\">\n    <head>\n        <title>Our apologies</title>\n    </head>\n    <body>\n        <br>\n        <b>Our apologies...</b><br>\n        An error occured. Please check Node-RED debug window or Cloud Foundry runtime log.\n    </body>\n</html>","x":708,"y":234.5,"wires":[["f3017c14.23e278"]]},{"id":"df3fc7c.00fb9b8","type":"debug","z":"660bb32a.7bb8cc","name":"NLCのデバッグ","active":false,"console":"false","complete":"payload","x":726,"y":415.5,"wires":[]}]