public/flow/flow_3.json
[{"id":"a9fc2aa8.bb1878","type":"comment","z":"d79dc37c.c5f048","name":"9. 登録データをクリアする","info":"","x":163,"y":57.5,"wires":[]},{"id":"2781779f.a03988","type":"inject","z":"d79dc37c.c5f048","name":"回答データクリア","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":169,"y":160.5,"wires":[["7138b4f7.c765f4"]]},{"id":"7138b4f7.c765f4","type":"cloudant in","z":"d79dc37c.c5f048","name":"全件取得","cloudant":"","database":"faq-answer","service":"","search":"_all_","design":"","index":"","x":366,"y":159.5,"wires":[["277e8ba2.9843a4"]]},{"id":"1bb546ce.b13261","type":"switch","z":"d79dc37c.c5f048","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":578,"y":153,"wires":[["f5f09a6.babc5e8"],["b3339e5e.7c66e8"]]},{"id":"277e8ba2.9843a4","type":"function","z":"d79dc37c.c5f048","name":"キー抽出","func":"context.global.payload=msg.payload;\nmsg.payload = context.global.payload.length;\ncontext.global.count = context.global.payload.length;\ncontext.global.unitCnt = 0;\nreturn msg;\n","outputs":1,"noerr":0,"x":463,"y":84,"wires":[["1bb546ce.b13261"]]},{"id":"b3339e5e.7c66e8","type":"function","z":"d79dc37c.c5f048","name":"1件削除","func":"msg.payload = context.global.payload[context.global.count-1];\ncontext.global.count = context.global.count - 1;\ncontext.global.unitCnt += 1;\nreturn msg;","outputs":1,"noerr":0,"x":753,"y":160,"wires":[["3a218ff7.d93dc","51f6a29e.923f7c"]]},{"id":"3a218ff7.d93dc","type":"cloudant out","z":"d79dc37c.c5f048","name":"","cloudant":"","database":"faq-answer","service":"","payonly":false,"operation":"delete","x":937,"y":101.5,"wires":[]},{"id":"51f6a29e.923f7c","type":"delay","z":"d79dc37c.c5f048","name":"","pauseType":"delay","timeout":"110","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":575,"y":315,"wires":[["ff716d3.beec59"]]},{"id":"ff716d3.beec59","type":"function","z":"d79dc37c.c5f048","name":"Fetch","func":"msg.payload = context.global.count;\nreturn msg;","outputs":1,"noerr":0,"x":746,"y":318,"wires":[["1bb546ce.b13261"]]},{"id":"f5f09a6.babc5e8","type":"debug","z":"d79dc37c.c5f048","name":"","active":true,"console":"false","complete":"false","x":685,"y":72,"wires":[]}]