public/flow/flow_1.json
[{"id":"99c7967.88da368","type":"function","z":"61cb938d.c50b0c","name":"回答データ定義","func":"context.global.payload=[\n// このブラケット内([ ])に回答データをJSON形式で定義してください。\n// JSON例\n// { \"class_name\" : \"faq-id01\", \"answer\" : \"ここに回答を設定する。\", \"ref_url\" : \"http://～～～(ブランク可)\"},\n];\nmsg.payload = context.global.payload.length;\ncontext.global.count = context.global.payload.length;\ncontext.global.unitCnt = 0;\nreturn msg;\n","outputs":1,"noerr":0,"x":358,"y":150.5,"wires":[["74c43ef5.acd7b8"]]},{"id":"d2d5c1a8.34af7","type":"inject","z":"61cb938d.c50b0c","name":"データ登録","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":118,"y":150.5,"wires":[["99c7967.88da368"]]},{"id":"74c43ef5.acd7b8","type":"switch","z":"61cb938d.c50b0c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":648,"y":210.5,"wires":[["d5edb416.6f5878"],["d784ae93.33063"]]},{"id":"d784ae93.33063","type":"function","z":"61cb938d.c50b0c","name":"1件登録","func":"msg.payload = context.global.payload[context.global.count-1];\ncontext.global.count = context.global.count - 1;\ncontext.global.unitCnt += 1;\nreturn msg;","outputs":1,"noerr":0,"x":798,"y":250.5,"wires":[["19198241.74ab26","ba8f5ce7.bddd58"]]},{"id":"d5edb416.6f5878","type":"debug","z":"61cb938d.c50b0c","name":"終了","active":true,"console":"false","complete":"payload","x":808,"y":130.5,"wires":[]},{"id":"63e9287e.52022","type":"function","z":"61cb938d.c50b0c","name":"Fetch","func":"msg.payload = context.global.count;\nreturn msg;","outputs":1,"noerr":0,"x":548,"y":290.5,"wires":[["74c43ef5.acd7b8"]]},{"id":"19198241.74ab26","type":"cloudant out","z":"61cb938d.c50b0c","name":"","cloudant":"","database":"faq-answer","service":"faq-demo-cloudantNoSQLDB","payonly":true,"operation":"insert","x":988,"y":250.5,"wires":[]},{"id":"f275d403.3a6f88","type":"comment","z":"61cb938d.c50b0c","name":"0. FAQの回答を登録します。","info":"","x":150,"y":84,"wires":[]},{"id":"ba8f5ce7.bddd58","type":"delay","z":"61cb938d.c50b0c","name":"","pauseType":"delay","timeout":"110","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":388,"y":290.5,"wires":[["63e9287e.52022"]]}]